* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding-top: 6em;
  background-color: rgb(0, 0, 0);
}

/* ----------------header---------------- */

header {
  background-color: rgb(0, 0, 0);
  min-height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}
.header-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 90%;
}
.logo {
  background-image: url(images/Brights_logo.png);
  background-size: cover;
  width: 9em;
  height: 5em;
  /* background-color: green; */
}
.navigation-options {
  color: white;
  display: flex;
  list-style: none;
  gap: 2.5em;
  text-transform: uppercase;
  font-weight: bolder;
}
.navigation-options li {
  font-family: Arial, Helvetica, sans-serif;
}

/* ----------------main---------------- */

main {
  /* background-color: green; */
  min-height: 100vh;
}

/* ----------------home-section---------------- */
.home-section {
  min-height: calc((100vh) - 6em);
  /* background-color: rgb(146, 37, 37); */
  display: flex;
}
.home-content {
  /* background-color: rgb(23, 202, 62); */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15%;
  gap: 1em;
  text-transform: uppercase;
  color: white;
}
.home-content button {
  width: fit-content;
  padding: 1em 3em;
  background-color: gray;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.home-content button:hover {
  background-color: #484848;
}

.home-content h2 {
  font-size: 4rem;
}
.home-content p {
  font-size: x-large;
}
.home-image {
  width: 50%;
  background-image: url(images/Brights-home-img.jpeg);
  /* background-color: rgb(0, 0, 0); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

/* ----------------about-section---------------- */
.about-section {
  padding: 4em 0em;
  background-color: rgb(255, 255, 255);
  display: flex;
  /* align-items: space-between; */
  justify-content: center;
}
.about-wrapper {
  max-width: 75%;
  background-color: teal;
  display: flex;
}
.about-content {
  /* background-color: rgb(23, 202, 62); */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-left: 15%; */
  gap: 1em;
  flex: 1;
}
.about-content h2 {
  font-size: 4rem;
  text-transform: uppercase;
}
.about-content p {
  font-size: x-large;
}
.about-content a {
  width: fit-content;
  padding: 1em 3em;
  background-color: gray;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 1em;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.about-content a:hover {
  background-color: #484848;
}
.image-wrapper {
  height: 100%;
  background-color: #8b4444;
  flex: 1;
}
.about-img {
  width: 50%;
  height: 100%;
  background-image: url(images/Brights-about-img.jpeg);
  /* background-color: rgb(0, 0, 0); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
/* ----------------service-sectio---------------- */
.service-section {
  padding: 6em 0em;
  background-color: rgb(168, 91, 91);
  display: flex;
}
/* ----------------hire-section---------------- */
/* ----------------footer---------------- */

footer {
  background-color: rgb(0, 0, 0);
  min-height: 15em;
}
